@charset "ISO-8859-1";
body{
	
  background-color:blanc; 
  background-size: cover;
}


.styleform{
        	border-radius: 15px;
		    padding:40px;
			width: 430px;
			height: 200px;
	        color: black;
			margin-left: 300px;
			margin-top: 80px;
			background-color: white;
			opacity: 0.8;
}

tr{
	margin-top:40px;
}
h1{
	color:#08546C;
}
input{
	margin:10px;
}

